.container {
  max-width: 300px;
  margin: 20px auto;
  border: 2px solid #000;
  border-radius: 10px;
  overflow: hidden;
}

.container__main {
  padding: 10px;
  border-bottom: 1px solid #000;
}

.container__footer {
  padding: 10px;
}
