.container {
  max-width: 300px;
  margin: 20px auto;
  border: 2px solid #000;
  border-radius: 10px;
  overflow: hidden;
}
.container__main {
  padding: 10px;
  border-bottom: 1px solid #000;
}
.container__footer {
  padding: 10px;
}
.todo-add {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-add__text {
  height: 30px;
  font-size: 20px;
  width: 70%;
  box-sizing: border-box;
  padding-left: 3px;
}
.todo-add__btn {
  width: 25%;
  height: 30px;
  font-size: 30px;
  cursor: pointer;
  line-height: 20px;
  background: goldenrod;


}
