.todo-add {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-add__text {
  height: 30px;
  font-size: 20px;
  width: 70%;
  box-sizing: border-box;
  padding-left: 3px;
}

.todo-add__btn {
  width: 25%;
  height: 30px;
  font-size: 30px;
  cursor: pointer;
  line-height: 20px;
  background: goldenrod;
}
